/*for tablet*/
@media all and (max-width: 800px) {
  .mySlides .img-profil {
    width: 160px;
    height: 160px;
  }
  .mySlides li {
    margin: 10px;
  }
  .mySlides h4 {
    font-size: 16px;
  }
  .main-container h1 {
    font-size: 24px;
  }
  .item-wr-des {
    padding-left: 20px;
  }

  }
  
  /* Untuk smartphones */
  @media all and (max-width: 600px) {
    .main-container {
      height: 1650px;
    }
    .item-wr-img {
      width: 100%;
    }
    .item-wr-des {
      width: 100%;
      padding: 0;
      text-align: center;
      margin-bottom: 20px;
    }
    .item-wr-des p{
      width: 100%;
    }
    .footer-container .logo-footer {
      width: 50%;
      height: 100%;
      text-align: center;
      margin: auto;
      padding-top: 15px;
    }
    .logo-footer img {
      height: 60%;
    }
  }