/*for tablet*/
@media all and (max-width: 760px) {
  .mySlides .img-profil {
    width: 80px;
    height: 80px;
  }
  .mySlides li {
    margin: 10px;
  }
  .mySlides h4 {
    font-size: 16px;
  }

  }
  
  /* Untuk smartphones */
  @media all and (max-width: 600px) {
    .main-container {
      width: 100%;
    }
    .mySlides h2 {
      visibility: hidden;
    }
  }