* {
	padding:0;
	margin:0;
}
*:focus {
	outline-color: transparent;
}
html {
	scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6,
p, span, a {
	text-decoration: none;
}
body {
	font-family: monospace, lucida;
}

header {
	width:100%;
	background-color:rgba(34, 49, 52, 0.9) ;
	z-index:1000;
	position: fixed;
}

.menu-bar {
	color:#FFF;
	font-size:20px;
	cursor:pointer;
	padding:10px 10px;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:5px;
}

.menu-bar:hover {
	background-color:rgba(0, 0, 0, 0.1);
	border-radius:50px;
}

#tag-menu {
	display:none;
}

#tag-menu:checked ~ div.jw-drawer {
 animation: slide-in 0.5s ease;
 animation-fill-mode: forwards;
}

.jw-drawer {
	position:fixed;
	left:-100px;
	background-color:rgba(34, 49, 52, 0.9);
	font-size:12px;
	height:100%;
	z-index:100;
	width:170px;
	animation: slide-out 0.5s ease;
	animation-fill-mode: forwards;
}

.jw-drawer ul li {
	list-style:none;
}

.jw-drawer ul li a {
	padding:10px 20px;
	text-decoration:none;
	display:block;
	color:#FFF;
}

.jw-drawer ul li a:hover{
	background-color:rgba(0, 0, 0, 0.1);
}

.jw-drawer ul li a i {
	width:50px;
	height:35px;
	text-align:center;
	padding-top:15px;
}

@keyframes slide-in {
 from {left: -280px;}
 to {left: 0;}
}

@keyframes slide-out {
 from {left: 0;}
 to {left: -280px;}
}


.content{
  padding: 100px 0 0 250px;
	background-color: #fff;
}

.mySlides {
	display: none;
}

.slider-container {
	position: relative;
	background-size: cover;
	width: 100%;
	height: 610px;
}
.slider-container img {
	height: 610px;
}

.wr-slider {
	position: absolute;
	bottom: 30px;
	right: 20px;
	opacity: 0.8;
	z-index: 100;
	text-align: center;
}
.wr-slider h1 {
	font-size: 32px;
	font-weight: bold;
	color: #f7f7f7;
}
.wr-slider h2 {
	font-size: 24px;
	color: #f7f7f7;
	float: right;
}
.slider-container button {
	position: absolute;
	top: 50%;
	opacity: 0.5;
	width: 30px;
	height: 80px;
	font-size: 32px;
	border-radius: 3px;
	border: none;
	background-color: #9e9e9e;
}
.slider-container button:hover {
	background-color: #f7f7f7;
}

.slider-container button:last-child {
	top: 50%;
	right: 0%;
}


.slider-container img {
	width: 100%;
}

.main-header-container {
	padding-top: 80px;
	margin-bottom: 40px;
	text-align: center;
	background-color: #ffffff;
}

.main-header-container h1 {
	display: inline;
	padding: 0px 70px;
	font-size: 25px;
	font-weight: lighter;
	color: #1f1f1f;

}

main:active {

}
main {
	width: 100%;
}
.main-container {
	width: 100%;
	background-size: cover;
}

.main-container header{
	position: inherit;
}

main h2,
main p {
	letter-spacing: 1px;
	margin: 0;
	line-height: 1.8;
	text-align: justify;
}

main button {
	opacity: 0.5;
	margin-top: 10px;
	letter-spacing: 1px;
	padding: 8px 16px;
}

main section {
	margin-bottom: 20px;
}
.header-article{
	background-color: #FFF;
	padding-top:0px;
}
article p {
	margin-right: 30px;
}

footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	z-index: 10000;
}

#main-section-1,
#main-section-2,
#main-section-3,
#main-section-4 {
	overflow: hidden;
}

#main-section-5,
#main-section-6,
#main-section-7,
#main-section-8,
#main-section-9 {
	overflow: hidden;
	margin-bottom:0 px;
	
}

#main-section-1 img,
#main-section-2 img,
#main-section-3 img,
#main-section-4 img{
	display: block;
	float: left;
	margin-right: 100px;
	padding-left:20px;
	padding-top:20px;
	
}

#main-section-1 article,
#main-section-2 article,
#main-section-3 article,
#main-section-4 article  {
	display: block;
}

#main-section-5 img,
#main-section-6 img,
#main-section-7 img,
#main-section-8 img,
#main-section-9 img  {
	display: block;
	float: left;
	margin-right: 100px;
	padding-left:20px;
	padding-top:10px;
	
}

#main-section-5 article,
#main-section-6 article,
#main-section-7 article,
#main-section-8 article,
#main-section-9 article  {
	display: block;
	padding-top:50px;
}
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.lesson {
  float: left;
  width: 50%;
  text-align:center;
}

.lesson-icon {
  position: relative;
  text-align:center;
}

.lesson-icon h2, .lesson-icon p{

  text-align:center;
}

.body-wrapper {
    width: 1150px;
    margin: 0 auto;
}
.footer-container {
    width: 100%;
    height: 50px;
    background-color: #9E2630;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container span {
	width: 80px;
	padding: 15px 30px;
	color: white;
}
.footer-container span:hover {
	background-color: rgb(161, 53, 62);
}
.footer-container span:active {
	background-color: rgb(161, 31, 42);
}